<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>SAT Executor</title>
</head>

<body>
    <div class="container">
        <h1>Stoneworx Assessment Tools</h1>
        <form id="satForm" action="/execute" method="POST">
            <label class="field" or="satType">Select SAT Program:</label>
            <div>
                <input type="radio" id="satL" name="satType" value="sat-l" required>
                <label for="satL">Use local mpr</label>
            </div>
            <div>
                <input type="radio" id="satC" name="satType" value="sat-c" required>
                <label for="satC">Use working copy</label>
            </div>

            <div id="inputFields">
                <label class="field" for="inputFile">Input File</label>
                <input type="file" id="inputFile" name="inputFile" required
                    onchange="document.getElementById('inputFileName').value = this.value.split('\\').pop();">
                <input type="hidden" id="inputFileName" name="inputFileName">
            </div>

            <div id="inputFields">
                <label class="field" for="outputFile">Output File Name</label>
                <input type="text" id="outputFile" name="outputFile" required>
            </div>

            <button type="submit">Execute</button>
        </form>

        <div id="resultContainer"></div>
    </div>
    <script src="/js/scripts.js"></script>
</body>

</html>